@font-face {
  font-family: 'Sulphur Point';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RLp5K5vv8KaycDcazWFPBj2adf4Yvw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sulphur Point';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/RLpkK5vv8KaycDcazWFPBj2afUU9r64PVA.ttf) format('truetype');
}
