@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/XRXV3I6Li01BKofINeaE.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/XRXW3I6Li01BKofAjsOUYevN.ttf) format('truetype');
}
